<?xml version="1.0" encoding="UTF-8"?>
<!--
 @(#)web.xml    0.1.3   03/16/2015
 @(#)web.xml    0.1.2   03/15/2015
 @(#)web.xml    0.1.1   03/14/2015
 @(#)web.xml    0.1.0   03/13/2015
  
 @author    Jonathan Parker
 @version   0.1.2
 @since     0.1.0
-->
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	 version="3.0">
    <description>JBoss SLF4J - Mon Mar 16 13:05:03 EDT 2015 (Build 03162015130503) - 0.1.3</description>
    <display-name>JBoss SLF4J</display-name>
    <servlet>
        <servlet-name>Test Servlet</servlet-name>
        <servlet-class>net.jonathan.jboss.slf4j.TestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Test Servlet</servlet-name>
        <url-pattern>/test.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <env-entry>
        <env-entry-name>java:comp/env/logger/name</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>slf4j.logger</env-entry-value>
    </env-entry>
</web-app>
